body {
  background: #652eff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #4d30aa;
  padding: 30px;
  padding-left: 80px;
  padding-right: 80px;
  border-radius: 5px;
  width: 90%; /* Changed to 90% for responsiveness */
  max-width: 500px; /* Keep the max-width for larger screens */
}

.user-type {
  margin-bottom: 20px;
}

select, input {
  background-color: white;
  color: black;
  width: 100%; /* Use 100% width for better responsiveness */
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

input {
  width: 100%; /* Use 100% width for better responsiveness */
}

p {
  font-size: 24px;
}

.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #222044;
  padding: 10px;
  text-align: center;
}

button[type="submit"],
button[type="button"] {
  background-color: #e3ff37;
  color: #000;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 10px;
  width: 100%; /* Make buttons full width for smaller screens */
}

.radio-container {
  display: contents;
  align-items: center;
  margin-bottom: 10px;
}

input[type="radio"] {
  visibility: hidden;
  position: absolute;
  width: 30px;
  height: 30px;
}

input[type="radio"] + label {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  color: #000;
  background-color: #d1d0ff;
  border: 1px solid #ccc;
  transition: background-color 0.2s ease-in-out;
  font-size: 20px;
  line-height: 30px;
}

input[type="radio"]:checked + label {
  color: #fff;
  background-color: #022cd8;
  border-color: #007bff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input[type="radio"]:checked + label:hover {
  background-color: #0062cc;
  border-color: #0062cc;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .container {
      padding-left: 20px; /* Reduce padding for smaller screens */
      padding-right: 20px;
  }
  
  p {
      font-size: 20px; /* Smaller font size for better readability */
  }
  
  button[type="submit"],
  button[type="button"] {
      font-size: 16px; /* Smaller button text */
  }
  
  input, select {
      font-size: 16px; /* Smaller input/select text */
  }
}